:root {
	color-scheme: light dark;
	--light: mistyrose;
	--mid: hotpink;
	--dark: deeppink;
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar { display: none }
}

body {
	position: relative;
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: monospace;
	font-size: 14px;
}

header {
	width: 100%;
	height: 48px;
	display: flex;
	align-items: center;
	background: black;

	h1 {
		margin-left: 12px;
		display: inline-block;
		color: white;
	}
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&.focusview {
		article.main {
			width: 100%;
		}
		article.aside { display: none }
	}

	&.main-none {
		article.main {
			width: 75vw;
			height: 100%;
			max-width: 960px;
			height: calc(100vh - 84px);
		}
		article.aside { display: none }
	}

	&.main-side {
		article.main {
			width: 75vw;
			height: 100%;
			heigh
		}
	}

	&.splitscreen {}

	article {
		position: relative;
		padding: 8px;
		overflow-y: scroll;
		border-left: 1px solid light-dark(var(--dark), var(--light));
		border-right: 1px solid light-dark(var(--dark), var(--light));
		color: light-dark(black, white);
		background: light-dark(snow, black);

		ol.paragraph {
			margin-bottom: 24px;

			li {
				margin-bottom: 6px;
				padding: 0 12px;
			}
		}
	}

	aside {
		height: calc(100vh - 84px);
	}

	#ipt {
		width: 100%;
		min-height: 1lh;
		max-height: 3.2lh;
		border: 2px solid light-dark(var(--dark), var(--light));
		color: light-dark(black, white);
		background: light-dark(white, black);
		field-sizing: content;
		resize: none;

		&:focus { outline: none }
	}
}




footer {
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: end;
	color: gray;
	background: black;

	p {
		margin: 12px;
		display: flex;
		align-items: center;

		a {
			margin: 0 8px;
			color: var(--light);
			text-decoration: none;
		}
		a:hover { color: white }
	}
}
