<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="/vite.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CWBe editing mode</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<header>
		<h1>Lover in the Flesh</h1>
		<div>Draft <span id="draft-num">1</span></div>
	</header>
	<section>
		<nav>
			<ol>
				<li><a href="#mistakes">Mistakes</a></li>
				<li><a href="#hot-spots">Hot Spots</a></li>
			</ol>
		</nav>
	</section>
	<main>
		<p class="warning"><a href="#mistakes">Skip prologue</a></p>
		<p>When I look at you, I feel the stirring of affection and longing, only for resentment to flood in. Look at me. Lift your head and look at me. Would you even recognize me?</p>
		<p>It hurts to think of those familiar eyes and that familiar face looking at me blankly with resignation, not a hint of recognition. How I hate you. I want to claw your face, dig my nails into your cheeks and shred them, but I’d stop if I saw your eyes. Though I wish I could gouge out your eyes, the sight blurs my vision with tears because I want you to recognize me and comfort me as you used to. Love me. Want me. Be mine again.</p>
		<p>And I will maul your face.</p>
		<h2 id="mistakes">Mistakes</h2>
		<p>“Did you hear what’s up in Sutmen?”</p>
		<p>“Ha. The queen returned.”</p>
		<p>“No, no, not that! Yes, but no—she’s become the head of the Hero’s Guild.”</p>
		<p>“The what!”</p>
		<p>“You never heard of the Hero’s Guild.”</p>
		<p>“It’s real, that’s what’s insane. Of course I’ve heard. Thought they were nothing but myths.”</p>
		<p>“They were, but they’re back. They confronted the Sutmen queen’s rebellion.”</p>
		<h2 id="hot-spots">Hot Spots</h2>
		<p>The city was fully illuminated by all kinds of creatures: ghost fire, witch fire, sprites, nature spirits, and the nature god’s moonlight. Much of the city was grid-like, separated into nine sectors distinguishable from above by rooftop colors, styles, and material, as well as wide boulevards spanning north-south and east-west from end to end. Rivers ran straight through the city, splitting into smaller rivers and narrow canals, some gathering at a lake in the northwestern sector. In the eastern sector, near to the city walls, there was a palace. Unlike much of the rest of the city, as if built atop a lake, the palace was illuminated by moonlight on the water, as well as oil lamps and chandeliers in its open corridors.</p>
		<p>While there was plenty of activity in the ring of  outer sectors, the center was bustling and teeming with people. People were getting around by boat, cart, and beast, if they didn’t have wings, gliders, or spell-casted orbs, boards, and carpets. They crossed the rivers by bridge and by boat hopping. The air was filled with all the smells of food as if their smoke and steam formed its own atmosphere. Beneath it was a tumultuous sea of smells: perfumes, flowers, dirt roads and pavement, gardens, wet wood, unpolished wooden beams, paint, clay, stone, rotting flesh, blood, livestock and beastfolk, washed and unwashed bodies.</p>
		<p>The ghost light dropped down in front of the main building of a large temple on the southern edge of the central sector. It was built in the style of a house of leisure, surrounded by bamboo-filled courtyards and tall, gazebo-style shrines. Through the open doors, it resembled a bureau, except filled with priests and their apprentices and attendants. They wore fitted sea blue uniforms and like open winter jackets, brown and white worship robes with high collars.</p>
	</main>
	<script type="module" src="../../src/sample_view.js"></script>
</body>
</html>
